body {
    background-image: url("https://www.themebeta.com/media/cache/728/files/chrome/images/201709/20/a5471a47edd2f7e8aeec01a040135abd.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    display: inline-block;
    list-style: none;
}

.playingBlock {
    display: inline-block;
    width: 40vw;
}

.playingArea {
    display: grid;
    background-color:rgba( rgb(0, 0, 0), 0.9);
    grid-template-columns:repeat(3, 1fr);
    width: 500px;
}

.card {
    background-color:rgba(rgb(0, 0, 0), 0.5);
    height: calc(500px / 3);
    border: 5px, 5px, 5px, 5px;
    border-style: solid;
    border-color: magenta;
}

.scoreBlock{
    display: inline-block;
    width: 40vw;
}

/*Main page styling*/

#title {
    display: flex;
}

#gameTitle {
    color: magenta;
}




















/*Single player styling*/



















/*Two players styling*/



#twoPlayersScoringArea {
    display: inline-block;
    width: 40vw;
}

















/*Final result styling*/

.player {
    color: magenta;
}























