body {
    background-image: url("https://www.themebeta.com/media/cache/728/files/chrome/images/201709/20/a5471a47edd2f7e8aeec01a040135abd.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    display: inline-block;
    list-style: none;
}

li {
    color: magenta;
}

/*Main page styling*/

#title {
    margin: auto;
    text-align: center;
}

#gameTitle {
    color: magenta;
}

#startButtons {
    width: 600px;
    margin: auto;
    text-align: center;
}

.infoDisplay {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 10vh;
}

#button1 {
    float: left;
}

#button2 {
    float: right;
}














/*Single player + Two players styling*/

.wholeBlock {
    display: flex;
    align-content: space-around;
}

.playingBlock {
    display: inline-block;
    width: 40vw;
    padding-left: 25px;
    padding-right: 25px;
}

.playingArea {
    display: grid;
    background-color:rgba( rgb(0, 0, 0), 0.9);
    grid-template-columns:repeat(3, 1fr);
    width: 500px;
}

.card {
    background-color:rgba(rgb(0, 0, 0), 0.5);
    height: calc(500px / 3);
    border: 5px, 5px, 5px, 5px;
    border-style: solid;
    border-color: magenta;
}

.scoreBlock{
    display: inline-block;
    width: 40vw;
}

.button {
    border-style: none;
    color: magenta;
    background-color: black;
    font-size: 25px;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.playerScoreDisplay {
    border: 5px, 5px, 5px, 5px;
    border-color: magenta;
    border-style: solid;
}

#twoPlayersScoringArea {
    display: inline-block;
    width: 40vw;
}

















/*Final result styling*/

.player {
    color: magenta;
}

#playerResults {
    margin: auto;
    text-align: center;
}

#endButton {
    margin: auto;
    text-align: center;
}



















